<!-- This is the markup for the table you should use. -->
<table>
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Roles</th>
  </thead>
  <tr *ngFor="let user of $users | async">
    <td>{{ user.id }}</td>
    <td><input type="text" [value]="user.name" (keyup)="onNameInput($event, user.id)" /></td>
    <td>
      <div
        *ngFor="let role of user.roles"
        class="tag"
        [style.background-color]="getRoleColour(role)"
      >
        {{ getRoleName(role) }}
      </div>
    </td>
  </tr>
</table>
